$background-color: #0b0c0c;
$container-color: #161719;

$gray-color-0: #333333;
$gray-color-1: #454545;
$gray-color-2: #646464;
$gray-color-3: #707070;
$gray-color-4: #767676;
$gray-color-5: #949494;
$gray-color-6: #a0a0a0;
$gray-color-7: #b5b5b5;
$gray-color-8: #eaeaea;

$adaptive-color-0: #f85402;
$adaptive-color-1: #f05000;
$adaptive-color-2: #af3200;
